.App {
  text-align: center;
  background: url("../public/weather-background.jpg") no-repeat;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* .App-container {
  border: 10px solid red;
} */

.App-header h1 {
  /* border: 10px solid red; */
  margin-top: 10px;
}

.App-header div {
  /* border: 10px solid red; */
  margin-bottom: 10px;
}

.App-content {
  border: 8px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  padding: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  padding: 8px;
}

input {
  padding: 8px;
  outline: none;
}
